
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Posts";
}

<h1>Posts Index</h1>
<p>
    <a href="@Url.RouteUrl("Default", new { controller = "Auth", action = "Login"} )">Click here</a> to login!
</p>
